header
  h1.logo John Glyndwr
  
  nav.site-nav
    ul
      li: a(href="about") About
      li: a(href="portfolio") Portfolio
      li: a(href="contact") Contact
  
  a(href="mailto:johnglyndwr@gmail.com").email-link +email me
